#ok {
  width: auto; /* Can be in percentage also. */
  height: auto;
  margin: 0 auto;
  padding: 10px;
  position: relative;
}

.container2 {
  height: 250px;
  width: 500px;
  position: relative;
  border: 3px solid black;
}
.center {
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}
.a {
  margin: 0;
  position: absolute;
  top: 25%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.card-columns {
  display: inline-block;
}


@media screen and (max-width: 500px) { 
  
  .center{ 
      width: 40%; 
      color: chartreuse;
  }
}