{% extends "base.html" %}
{% block content %}
{% load crispy_forms_tags %}
{% if messg %}
<script>
    alert('{{messg}}')

</script>
{% endif %}



<div class="content  form-control-sm d-flex justify-content-center">
    <form method="post">
        {% csrf_token %}
        <legend class="border-bottom text-center mb-3">REGISTER</legend>
        {{ form|crispy }}
        <div class="text-center">
            <button type="submit" class="btn btn-primary"><span></span>Submit</button>
        </div>
    </form>

</div>


{% endblock content %}